## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [11]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]


def can_i_have_yo_numba(book, name):
    my_list = []
    for first, last, address, number in book:
        if name == first or name == last:
            my_list.append(number)
        else:
            print('-1')
    return my_list





# def people_info(first, last, add, phone):
#     result = []

#     name = input("enter your name")
#     for p in info:
#         if name in info[0] or info[1]:
#             result.append(phone)
#     return result
people_info(address_book)

enter your nameHank

[('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
 ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
 ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
 ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')]

In [ ]:
def phone_num(book):
    name = input('enter name')
    for i in book:
        for j in entry:
            if name.title()==j;
                return entry[3]
    else:
        print(-1)

In [15]:
def get_number(name):
    for first, last, address, phone in address_book:
        if name == first or name == last or name== first + ' ' + last:
            return phone
    return -1
get_number('Hank')

'(555) 555-1234'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [21]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(type(d1))
d2 = dict()
print(type(d2))

d3 = {
    'key': 12,
    'key2': 55,
    'Hank': '123 Fake Street'
}
print(type(d3))
print(d3)

d4 = dict(name='brian', age=55, city="Chicago")
print(d4)
print(type(d4))

<class 'dict'>
<class 'dict'>
<class 'dict'>
{'key': 12, 'key2': 55, 'Hank': '123 Fake Street'}
{'name': 'brian', 'age': 55, 'city': 'Chicago'}
<class 'dict'>

##### Accessing Values

In [ ]:
a_list = ['Hank', 'Peter','Sydney','Tevin']

In [ ]:
# dict[key]
print(d3['Hank'])

In [22]:
print(d3['brian'])

KeyError: 'brian'

In [23]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [25]:
#WON'T THROW KEY ERROR USING .GET

print(d3.get('Hank'))
print(d3.get('brian', 'N/A'))

123 Fake Street
N/A

##### .get()

In [31]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [ ]:
# dict.get('key') or dict.get('key', value_if_no_key)

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [74]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

def fav_car(truck):
    year = truck.get('year')
    make = truck.get('make')
    model = truck.get('model')
    output = 'my favorite car is a ' + str(year) +' '+ make +' '+ model 
    print(output)
fav_car(truck)

print(f'my fav car is {truck.get("make")}')

my favorite car is a 2018 Chevrolet Silverado
my fav car is Chevrolet

##### Adding New Pairs

In [41]:
d3['Zoey'] = '465 Main Street'
d3

{'key': 12, 'key2': 55, 'Hank': '123 Fake Street', 'Zoey': '465 Main Street'}

In [43]:
# dict[key] = value
d3['Zoey'] = '643 Second Ave'
d3

{'key': 12, 'key2': 55, 'Hank': '123 Fake Street', 'Zoey': '643 Second Ave'}

##### Modifying Values

In [44]:
# dict[key] = value
d3['Zoey'] = '643 Second Ave'
d3

{'key': 12, 'key2': 55, 'Hank': '123 Fake Street', 'Zoey': '643 Second Ave'}

##### Removing Key, Value Pairs

In [45]:
# del dict[key]
del d3['key']
d3

{'key2': 55, 'Hank': '123 Fake Street', 'Zoey': '643 Second Ave'}

In [46]:
del d3['key'] #if can't find will error - NEED TO CHECK

KeyError: 'key'

In [47]:
# dict.pop('key') - remove key,value pair - returns value back to caller
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [49]:
removed_val = d3.pop('Zoey')
print(removed_val)
print(d3)

643 Second Ave
{'key2': 55, 'Hank': '123 Fake Street'}

In [50]:
removed_val = d3.pop('Zoey', 'Not in Dictionary')
print(removed_val)
print(d3)

Not in Dictionary
{'key2': 55, 'Hank': '123 Fake Street'}

##### Looping a Dictionary

In [51]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [57]:
# .items()
print(d3)
print(d3.items())
d3['Zoey'] = '643 Second Ave'

{'key2': 55, 'Hank': '123 Fake Street'}
dict_items([('key2', 55), ('Hank', '123 Fake Street')])

In [58]:
for item in d3.items():
    print((item), type(item))

('key2', 55) <class 'tuple'>
('Hank', '123 Fake Street') <class 'tuple'>
('Zoey', '643 Second Ave') <class 'tuple'>

In [60]:
for key, value in d3.items():
    print('Key:', key, '--', 'Value:', value)
for k, v in d3.items():
    print('key:', k, '--', 'value', v)

Key: key2 -- Value: 55
Key: Hank -- Value: 123 Fake Street
Key: Zoey -- Value: 643 Second Ave
key: key2 -- value 55
key: Hank -- value 123 Fake Street
key: Zoey -- value 643 Second Ave

##### Looping Only Keys

In [61]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [63]:
# .keys()
print(d3.keys())

dict_keys(['key2', 'Hank', 'Zoey'])

In [65]:
for key in d3.keys():
    print(key, d3[key])
    print(key)

key2 55
key2
Hank 123 Fake Street
Hank
Zoey 643 Second Ave
Zoey

In [66]:
for x in d3:
    print(x)

key2
Hank
Zoey

In [67]:
#you can ALWAYS access the value in a dictionary from it's key
for k in d3:
    print(k, d3[k])

key2 55
Hank 123 Fake Street
Zoey 643 Second Ave

##### Looping Only Values

In [68]:
print(dict.values)

<method 'values' of 'dict' objects>

In [69]:
# .values()
print(d3.values())

dict_values([55, '123 Fake Street', '643 Second Ave'])

In [70]:
for val in d3.values():
    print(val)

55
123 Fake Street
643 Second Ave

In [80]:
value = '123 Real Street'

for key, val in d3.items():
    if val == value:
        print(key)

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [97]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}


for name, color in people.items():
#     print(name + ' ' + 'has' +" " +color +' '+ 'eyes')
    print(f'{(name)} has {(color)} eyes')
    
for key in people:
    print(f'{key} has {people[key]} eyes')

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes
Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

## dictionary keys

In [103]:
#keys must be a hashable onject
#str, int, float, tuple, frozenset

dict_with_keys = {
    'a': 123,
    1: 'abc',
    3.14: 'pi',
    (1,2): 'hello world',
}
print(dict_with_keys('a'))
print(dict_with_keys(1))
print(dict_with_keys(3.14))
print(dict_with_keys((1,2)))

TypeError: 'dict' object is not callable

In [102]:
print(dict_with_keys('a'))
print(dict_with_keys(1))
print(dict_with_keys(3.14))
print(dict_with_keys((1,2)))

TypeError: 'dict' object is not callable

In [104]:
my_list = [1,2,3,'hello','goodbye',[4,5,6], {'a':1, 'b':2}]
print(my_list)

[1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a': 1, 'b': 2}]

In [108]:
print(my_list[6], type(my_list[6]))
print(my_list[6]['a'])
print(my_list[6].get('b'))
print(my_list[6].items())

{'a': 1, 'b': 2} <class 'dict'>
1
2
dict_items([('a', 1), ('b', 2)])

##### List with Dictionaries

In [112]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'star wars', 'director': 'george lucas', 'release_year': 1977},
    {'title': 'BTTF',      'director': 'zumechis', 'release_year': 1985}
]
print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'star wars', 'director': 'george lucas', 'release_year': 1977}, {'title': 'BTTF', 'director': 'zumechis', 'release_year': 1985}]

In [114]:
for mov in movies: 
    #print (mov, type(mov))
    print(f"Title: {mov.get('title')} - Directed By: {mov.get('director')} - {mov.get('release-year')}")

Title: Inception - Directed By: Christopher Nolan - None
Title: star wars - Directed By: george lucas - None
Title: BTTF - Directed By: zumechis - None

##### List of Dictionaries

##### Dictionaries with Lists

In [121]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
data = {
    'my_list': [10,20,30],
    0: ['a','b','c']
    
}
print(data)
print(data['my_list'])
print(data[0]) #NOT an index - accessing they key 0
#use strings as key instead of int

print(data['my_list'][1]) #accesses index
print(data)
data['my_list'].append(40)
print(data)

{'my_list': [10, 20, 30], 0: ['a', 'b', 'c']}
[10, 20, 30]
['a', 'b', 'c']
20
{'my_list': [10, 20, 30], 0: ['a', 'b', 'c']}
{'my_list': [10, 20, 30, 40], 0: ['a', 'b', 'c']}

##### Dictionaries with Dictionaries

In [125]:
# to get values, must traverse through keys
my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanila': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'],type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['vanilla'])
print(my_shoppe.get('milkshake').get('oreo'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanila': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>
2.99
4.49

In [126]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [134]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

print(f"{job_app['full_name']} spent {total_years} years at {job_app['experience'][1]['company']}")

NameError: name 'total_years' is not defined

In [138]:
import requests
res = requests.get('https://pokeapi.co/api/v2/pokemon/pikachu')
data = res.json()

In [139]:
for move in data.get('moves'):
    print(move['move']['name'])

mega-punch
pay-day
thunder-punch
slam
double-kick
mega-kick
headbutt
body-slam
take-down
double-edge
tail-whip
growl
surf
submission
counter
seismic-toss
strength
thunder-shock
thunderbolt
thunder-wave
thunder
dig
toxic
agility
quick-attack
rage
mimic
double-team
defense-curl
light-screen
reflect
bide
swift
skull-bash
flash
rest
substitute
thief
snore
curse
reversal
protect
sweet-kiss
mud-slap
zap-cannon
detect
endure
charm
rollout
swagger
spark
attract
sleep-talk
return
frustration
dynamic-punch
encore
iron-tail
hidden-power
rain-dance
rock-smash
uproar
facade
focus-punch
helping-hand
brick-break
knock-off
secret-power
fake-tears
signal-beam
covet
volt-tackle
calm-mind
shock-wave
natural-gift
feint
fling
magnet-rise
nasty-plot
discharge
captivate
grass-knot
charge-beam
electro-ball
round
echoed-voice
volt-switch
electroweb
wild-charge
disarming-voice
draining-kiss
play-rough
play-nice
confide
eerie-impulse
electric-terrain
nuzzle
laser-focus
rising-voltage
tera-blast
trailblaze

In [145]:
# List Comprehension
# [transform iterable filter]
nums = [x**2 for x in range(10) if x %2 ==0]
print(nums)

[0, 4, 16, 36, 64]

In [144]:
# Dictionary Comprehension
# {transform key:vale iterable filter}
square_nums = {str(x):x**2 for x in range(10) if x%2==1}
print(square_nums)

{'1': 1, '3': 9, '5': 25, '7': 49, '9': 81}

#### in keyword with dictionaries

In [148]:
# the in keyword will return True if the key is in the ditionary, False otherwise

random_dict = {
    'a': 123,
    'b': 456,
    'c': 789
}

print('a' in random_dict)
print('z' in random_dict)
print(123 in random_dict)

#with IN, only checking keys
#hashing, so looks at memory and sees if/ifnot something exists

True
False
False

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [146]:
hash('hello')

5871394220905864118

In [149]:
small_dict = {i: 'value' for i in range(10)}
small_list = [x for x in range(10)]

print(small_dict)
print(small_list)

{0: 'value', 1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value', 6: 'value', 7: 'value', 8: 'value', 9: 'value'}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [150]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [152]:
time.time()

1695927124.824037

In [154]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.00013303756713867188
True
Elapsed time for list: 0.08548092842102051

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [155]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}
first_set = set()
print(first_set)
print(type(first_set))

set()
<class 'set'>

In [161]:
second_set = {3,2,10,1}
print(second_set)

{3, 1, 10, 2}

In [157]:
empty_set = {} #this will create an empty DICTIONARY!!!

In [158]:
third_set = {1,1,1,1,2,2,2,3,3,3,3}
print(third_set)

{1, 2, 3}

In [159]:
for element in third_set:
    print(element)

1
2
3

In [162]:
for e in second_set:
    print(e)

3
1
10
2

##### .add()

In [163]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [165]:
third_set.add(44)
print(third_set)

{1, 2, 3, 44}

In [171]:
third_set.add(44) #only 1 of value in set
print(third_set)
third_set.add(2)
print(third_set)

{1, 2, 3, 44}
{1, 2, 3, 44}

##### .remove()

In [167]:
help(set.remove) #make sure element is in set

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [169]:
third_set.remove(2)
print(third_set)

KeyError: 2

##### .union()

In [172]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [174]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = s1.union(s2)
print(s3)

#OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [175]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [177]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets
s5 = s1.intersection(s2)
print(s5)

# OR

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [178]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [181]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s7 = s1.difference(s2)
print(s7)
s8 = s2.difference(s1)
print(s8)

# OR

s9 = s1 - s2
print(s9)
s10 = s2-s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [183]:
#Set can have any immutabe type as a member - int, float, boolean, str, tuple, classobjects, fxns

# my_list_set = {[1,2,3]} #can't have list in set

many_types_set = {1,2.34,True,'hello', (1,2,3), str, len}
print(many_types_set)

{1, 2.34, <class 'str'>, (1, 2, 3), 'hello', <built-in function len>}

In [ ]:
# my_set_of_sets = {{1,2,3}, {4,5,6}} #Can't have

##### .clear()

In [184]:
# Empties the whole set
# set.clear()
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [185]:
nums = {23,342,67,23422}
print(nums)
nums.clear()
print(nums)

{342, 67, 23422, 23}
set()

In [ ]:
# frozensets:sets :: tuples:list

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [186]:
# frozensets:sets :: tuples:list
s3

{1, 2, 3, 4, 5, 6}

In [ ]:
# frozenset([])

In [ ]:
my_frozen_set.add(7)

In [ ]:
my_frozen_set.clear(7) #IMMUTABLE

In [188]:
#frozen set immutable - they CAN be used as dictionary keys
dict_abc = {
    frozenset{1,2,3}: 'hello'
}

print(dict_abs)
print(dict_abc.get(frozenset({1,2,3})))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1230082896.py, line 2)

In [189]:
# set comprehension - only diff from list comprehension is using {} instead of []

list_of_10 = [x for x in range(1,10)]
print(list_of_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [190]:
set_of_10 = {x for x in range(1,11)}
print(set_of_10)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [191]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [192]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0001087188720703125
True
Elapsed time for list: 0.20144009590148926

In [194]:
def count_vowels(string):
#     vowels = ['a','e','i','o','u']
    vowels = {'a','e','i','o','u'}
    count = 0
    for letter in string:
        if letter.lower() in vowels:
            count +=1
    return count
count_vowels('Hello my name is Brian')

#more efficient using set, runs through hash

7

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [195]:
from IPython.display import clear_output

while True:
    ask = input('ent')
    if ask== 'quit':
        break
    elif ask=='clear':
        clear_output() #watch for using this

entsdf
entsfd
entquit

In [ ]:
d_input = {}

In [ ]:
def get_infos():
    dicin = {}
#     while true:
#         if input == 'quit':
#             break
    for i in range(0,):
        if user_input =="quit":
            break
        name = input('Please enter your name:  ')
        address = input('please enter your address: ')
        dicin[name] = address
        print(dicin)
       
    
get_info()

In [ ]:
def

In [ ]:

def get_info():
    book = dict()
    cont = True
    while cont:
        book.update(name=input('name: '),address=input('address: ' ))
        ask_to_quit = input('do you want to quit?')
        
        
        if ask_to_quit == "quit":
            cont = False
        else:
            continue 
#         if name == 'quit':
#             break
#         else:
            return book
get_info()

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [228]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'
#output can be a list, set, tuple or string
# #do first
# person1.add(person2)
set_times = (person1 + person2 + person3 + person4)

#set_inter = 
#print(list_times)

# for i in set_times:
    
#     if i == set_times():
#          print(set_times)
    
# (person1, person2, person3)

# set2 = person1.intersection(person2)
# print(set2)
# for i in all_people:
# #     set1.intersection(set2)
# #     #OR
# #     set2x = set1 & set2
#     i & all_people
    
print(set_times)

TypeError: unhashable type: 'list'

In [266]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']


set_times = set(person1 + person2 + person3 + person4)

avail_times = []
for i in set_times:
    if i == set_times:
        i.append(avail_times)
    print(avail_times)
# dictionary = dict(person1 + person2 + person3)
# print(dictionary)

# sets = set(person1 & person2)
# print(sets)
# for i in set_times:
#     if set_times[]

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [14]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']


set_times = set(person1 + person2 + person3 + person4)
dict_times = dict(person1 + person2)
avail_times = []
print(set_times)
for i in set_times:
    if person1 != set_times:
        avail_times.append(i)
    if person2 != set_times:
        avail_times.append(i)
    if person3 != set_times:
        avail_times.append(i)
    elif person4 != set_times:
        avail_times.append(i)
result = set(avail_times)
# print(avail_times)
print(result)

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']


# def available_time():
set1 = set(person1)
set2 = set(person2)
set3 = set(person3)
set4 = set(person4)
    
available_timeS = {set1 & set2 & set3 & set4} 
print(available_timeS)

In [18]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']

set_times = set(person1 + person2 + person3 + person4)
avail_times = []

for i in set_times:
    if person1 == set_times:
        avail_times.append(i[])
    print(avail_times)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1550015432.py, line 11)

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']


set_times = set(person1 + person2 + person3 + person4)
avail_times = []

for i in set_times:
    if person1 == set_times:
        avail_times.append(i)

In [25]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']


set_times = (person1 + person2 + person3 + person4)
avail_times = []

for i in set_times:
    if person1 == set_times:
        avail_times.append([i])
print(avail_times)

[]

In [35]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']

all_people = [person1, person2, person3, person4]
all_time= []
common_time = []
# for i in range(0,24):
#     all_time.append(str(i) + "-" + str(i+1))
print(all_people)
print('-'*5)

for i in range(0,len(all_people)):
    
    
    
    #     for j in range(0,len(all_people)):
#         if all_time[i] not in all_people:
#             break
#     if True:
#         common_time.append(all_time[i])
#         print(common_time)

[['09:00', '10:30', '11:30', '12:00', '13:00', '14:30'], ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00'], ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00'], ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']]
-----

IndexError: list index out of range

In [54]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']

all_times = [person1 + person2 + person3 + person4]
set_times = set(person1 + person2 + person3 + person4)
string_times = str(set_times)
avail_times = []
print(set_times)
print('='*20)
print(all_times)
# for i in set_times:
#     if person1 != set_times:
#         avail_times.append(i)
print('='*20)

def find_time(people, *person):
    
    for i in all_times:
        if i == person:
            avail_times.append(i)
    
    #     for j in set_times:
#         if i != j:
#             avail_times.append(i)
print(avail_times)
find_time(person1, person2, person3)

{'09:30', '13:00', '12:00', '14:30', '10:30', '13:30', '14:00', '15:00', '10:00', '17:00', '16:30', '11:30', '16:00', '09:00', '11:00'}
====================
[['09:00', '10:30', '11:30', '12:00', '13:00', '14:30', '09:30', '10:00', '10:30', '12:00', '14:30', '16:00', '09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00', '11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']]
====================
[]

In [57]:
print(all_times)

SyntaxError: incomplete input (2270332154.py, line 5)

In [12]:
def find_time(person1, *person):
    for i in range:
        set(person1 & person)

    return *person
find_time(person1, person4)

SyntaxError: can't use starred expression here (3883767162.py, line 2)

In [35]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
person5 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
available = []
def find_time(*person):
    set1 = set(person1)
    set2 = set(person2)
    set3 = set(person3)
    set4 = set(person4)
    
    print(set1 & set2 &set3 &set4)

    available_times = (set1 & set2 &set3 &set4)

    print(available_times)
find_time()

{'12:00', '14:30'}
{'12:00', '14:30'}

In [33]:
def findTime(*arg, person1,):
    for arg in arg:
        arg = set(arg)
        avail = set(person1 & person2 & person3 & person4 &arg)
    return arg
    return avail
findTime(person1)

TypeError: findTime() missing 4 required keyword-only arguments: 'person1', 'person2', 'person3', and 'person4'